body {
  background:blue;
}

.main {
  display: grid;
  height: 100vh;
  width: 100%;
  animation: loading 0.5s linear;
}

@keyframes loading {
  from {
    scale: 0;
    -webkit-transform: scale(0);
  }

  to {
    scale: 1;
    -webkit-transform: scale(1);
  }
}
h1{
  display: block;
  margin: auto;
  color: wheat;
}